.search-background{
    background-color: #0000000D;
    width: 343px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;

}
.search-input__img{ 
    width: 16px;
    height: 16px;

}
.search-input__input{
    background: none;
    border: none;
    outline: none;
    margin-right: 6px;
    font-size: 17px;
    font-weight: 400px;
}
.background-input__color{
    background:#0000000D;
    display: flex;
    align-items: center;
    border-radius: 18px;
}
.icons-input{
    display: flex;
    align-items: center;
  
}
.icons-input__input{
    width: 135px;
    height: 36px;
    background: none;
    border: none;
    outline: none;
    margin-right: 6px;
    font-size: 17px;
    font-weight: 400px;
}

.icons-input__img{
    width: 22px;
    height: 22px;
    margin-right: 26px;
}

.three-input__img{
    width: 24px;
    height: 24px;
}
.three-icons{
    display: flex;
    align-items: center;
}
